$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';

$black: #1D1E24;
$green: #A6E22E;
$blue: #66D9EF;

.messages-wrapper {
    height: 600px;
    width: 800px;
    overflow-y:scroll;
    margin: 25px auto 0;
    
    & .messages-container {
        width: 100%;
        min-height: 600px;
        border: 1px solid transparent;
        background-color: $black;
        color: $green;
        padding: 25px;
    }
}

.text-wrapper {
    height: 60px;
    width: 800px;
    margin: 0 auto;
    border: 1px solid black;

    & input[type=text] {
        font-size: 16px;
        height: 40px;
        width: 78%;
        margin-left: 2%;
        margin-top: 10px;
        padding-left: 8px;
        vertical-align: middle;
    }
    & button {
        height: 40px;
        width: 18%;
        border: 1px solid black;
        margin-left: 5px;
        margin-top: 9px;
        vertical-align: middle;

    }
}

.message-list {
    list-style: none;
}

.message-holder {
    border-bottom: 1px solid red;
    min-height: 40px;

    & ul {
        list-style: none;
        padding: 10px 0 10px 5px;

        & li {
            display: inline-block;
        }
    }

    & .username {
        width: 15%;
        vertical-align: top;
        color: $blue;  
        overflow: scroll; 
    }

    & .message {
        width: 63%;
        vertical-align: bottom;
        margin-left: 10px;
        overflow: scroll;

    }

    & .time-stamp {
        width: 18%;
        // float: right;
        vertical-align: top;
        color: #fff;
        margin-left: 10px;
    }

}

